# openai
# langchain
# faiss-cpu
# flask
# flask-cors
# python-dotenv
# tiktoken
# langchain-community
flask
flask-cors
langchain>=0.1.17
langchain-community>=0.0.25
langchain-openai>=0.0.6
openai
faiss-cpu
tiktoken
python-dotenv
